<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>agendaJakarta</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>telaLoginServlet</display-name>
    <servlet-name>telaLoginServlet</servlet-name>
    <servlet-class>controle.telaLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>telaLoginServlet</servlet-name>
    <url-pattern>/telaLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cadastroServlet</display-name>
    <servlet-name>cadastroServlet</servlet-name>
    <servlet-class>controle.cadastroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastroServlet</servlet-name>
    <url-pattern>/cadastroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listarContatosServlet</display-name>
    <servlet-name>listarContatosServlet</servlet-name>
    <servlet-class>controle.listarContatosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listarContatosServlet</servlet-name>
    <url-pattern>/listarContatosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verDetalhesServlet</display-name>
    <servlet-name>verDetalhesServlet</servlet-name>
    <servlet-class>controle.verDetalhesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verDetalhesServlet</servlet-name>
    <url-pattern>/verDetalhesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>excluirUsuarioServlet</display-name>
    <servlet-name>excluirUsuarioServlet</servlet-name>
    <servlet-class>controle.excluirUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>excluirUsuarioServlet</servlet-name>
    <url-pattern>/excluirUsuarioServlet</url-pattern>
  </servlet-mapping>
</web-app>